# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

package-lock.json

# npm
node_modules
*.log
*.gz


# Coveralls
coverage
.nyc_output

# Benchmarking
benchmarks/graphs

/.idea
.idea
/.idea_modules
*.iml
*.tgz
/fauxcelot.config.js
/.vscode
.vscode

# Babel
public/styles/*.css
